# Environment variables
.env

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Airflow
airflow-docker/airflow.db
airflow-docker/airflow-webserver.pid
airflow-docker/logs/

# Jupyter Notebooks
.ipynb_checkpoints
test.ipynb

# DBT
dbt/logs/
dbt/target/
dbt/dbt_packages/

# Data and Metadata files
data/
data_profiles/
processed_data/
logs/
schemas/

# Environment files
.env
Environment.yml
